<ul class="main-menu">
    <li class="mi_index"><a href="@Url.Action("index", "home")"><i class="zmdi zmdi-home"></i>首页</a></li>
    <li class="sub-menu mg_sys">
        <a href=""><i class="zmdi zmdi-settings"></i>系统模块</a>
        <ul>
            <li class="mi_user"><a href="@Url.Action("index", "User")">用户管理</a></li>
            <li class="mi_group"><a href="@Url.Action("index", "Group")">分组管理</a></li>
            <li class="mi_dictionary"><a href="@Url.Action("index", "Dictionary")">数据字典</a></li>
            <li class="mi_sysSetting"><a href="@Url.Action("index", "SystemSetting")">系统设置</a></li>
        </ul>
    </li>
</ul>